In [5]:
import pandas as pd

In [6]:
df=pd.read_csv("D:\Water Management System\data\chennai_zones.csv")
df.head()

    Zone Name          Area Name
0  North Zone         Tondiarpet
1  North Zone          Royapuram
2  North Zone  Thiru-Vi-Ka Nagar
3  North Zone             Manali
4  North Zone       Washermanpet

In [8]:
df["Area Name"].unique

<bound method Series.unique of 0            Tondiarpet
1             Royapuram
2     Thiru-Vi-Ka Nagar
3                Manali
4          Washermanpet
            ...
64              Sembium
65              Retteri
66          Villivakkam
67           Ayanavaram
68             Korattur
Name: Area Name, Length: 69, dtype: object>